<ion-view view-title="會員登入">
  <ion-content>

    <div class="card">
      <button class="button button-block button-stable" ng-click="changeView('/app/user-login')">會員登入</button>

      <button class="button button-block button-positive">
        <i class="icon ion-social-facebook-outline"></i> 以Facebook帳號登入
      </button>

      <button class="button button-block button-assertive">
        <i class="icon ion-social-google-outline"></i> 以Google帳號登入
      </button>
    </div>

    <label class="item">
      <button class="button button-block button-balanced" ng-click="changeView('/app/user-create')">建立新帳號</button>
    </label>

  </ion-content>
</ion-view>
