<ion-toggle ng-model="mode.guard_type" toggle-class="toggle-calm" ng-disabled="true">
  <span ng-show="mode.guard_type">有警衛室</span>
  <span ng-hide="mode.guard_type">無警衛室</span>
</ion-toggle>
<ion-toggle ng-model="mode.space_type" toggle-class="toggle-calm" ng-disabled="true">
  <span ng-show="mode.space_type">室外停車格</span>
  <span ng-hide="mode.space_type">室內停車格</span>
</ion-toggle>
<ion-toggle ng-model="mode.valet_type" toggle-class="toggle-calm" ng-disabled="true">
  <span ng-show="mode.valet_type">提供代客泊車</span>
  <span ng-hide="mode.valet_type">不提供代客泊車</span>
</ion-toggle>
<ion-toggle ng-model="mode.disabled_type" toggle-class="toggle-calm" ng-disabled="true">
  <span ng-show="mode.disabled_type">無障礙車位</span>
  <span ng-hide="mode.disabled_type">一般車位</span>
</ion-toggle>
<ion-toggle ng-model="mode.allnight_type" toggle-class="toggle-calm" ng-disabled="true">
  <span ng-show="mode.allnight_type">可以停過夜</span>
  <span ng-hide="mode.allnight_type">不可停過夜</span>
</ion-toggle>
<ion-toggle ng-model="mode.holiday_type" toggle-class="toggle-calm" ng-disabled="true">
  <span ng-show="mode.holiday_type">平日假日都開放</span>
  <span ng-hide="mode.holiday_type">假日不開放</span>
</ion-toggle>
