<ion-view view-title="Search">
  <ion-content>
    <h1>Test</h1>

    <a href="geo:38.897096,-77.036545">open map</a>
    <br>
    <br>
    <!-- http://stackoverflow.com/questions/2660201/what-parameters-should-i-use-in-a-google-maps-url-to-go-to-a-lat-lon -->
    <a href="http://maps.google.com/maps?z=12&t=m&q=loc:38.9419+-78.3020">go to loc</a>
    <br>
    <br>
    <button class="button button-block button-positive" href="geo:38.897096,-77.036545">test</button>
    <br>
    <br>
    <div data-tap-disabled="true">
      <h2>data-tap-disabled="true" start</h2>

      <a href="geo:38.897096,-77.036545">open map</a>
      <br>
      <button class="button button-block button-positive" href="geo:38.897096,-77.036545">test</button>

      <h2>data-tap-disabled="true" end</h2>
    </div>

  </ion-content>
</ion-view>
