<ion-view view-title="TEST">
  <ion-content>

    <div class="card">
      <p>SERVER_ROOT:</p>
      <p>{{SERVER_ROOT}}</p>
    </div>

    <button class="button button-block button-positive" ng-click="createKey()">createKey</button>

    <button class="button button-block button-calm" ng-click="ajaxGet()">ajaxGet</button>
    <button class="button button-block button-calm" ng-click="ajaxPut()">ajaxPut</button>
    <button class="button button-block button-calm" ng-click="ajaxPost()">ajaxPost</button>
    <button class="button button-block button-calm" ng-click="ajaxDelete()">ajaxDelete</button>

    <button class="button button-block button-stable" ng-click="ngrGet()">ngrGet</button>
    <button class="button button-block button-stable" ng-click="ngrPut()">ngrPut</button>
    <button class="button button-block button-stable" ng-click="ngrPost()">ngrPost</button>

  </ion-content>
</ion-view>
